.header {
    height: 863px;

    &-left-inner,
    &-right-inner {
        position: absolute;
        width: 100%;
        max-width: 602px;
        height: 100%;
        max-height: 795px;
    }

    &-left {
        background-color: #1f2537;
        &-inner {
            bottom: 0;
            right: 0;
            box-shadow: 0 0 98px rgba(1, 2, 2, 0.17);
        }
    }

    &-right {
        background-image: url("./images/header-right-bg.png");
        background-size: cover;
        &-inner {
            bottom: 0;
            left: 0;
            box-shadow: 0 0 98px rgba(1, 2, 2, 0.17);
        }
    }
}
